@page
@model lms.Pages.addbookModel
@{
    ViewData["title"] = "ADDING BOOK";
}
<br />
<hr /><h1>ADD NEW BOOK</h1>
@if(Model.ErrorMsg.Length>0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.ErrorMsg</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label="Close"></button>
    </div>
}
<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">BOOK ID</label>
        
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Id" value="@Model.ab.id">
        </div>
    </div>
     <div class="row mb-3">
        <label class="col-sm-3 col-form-label">BOOK NAME</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Name" value="@Model.ab.name">
        </div>
    </div>
     <div class="row mb-3">
        <label class="col-sm-3 col-form-label">AUTHOR</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Author" value="@Model.ab.author">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">PUBLICATION</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Publication" value="@Model.ab.publication">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">TOTAL COPIES</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="Copies" value="@Model.ab.copies">
        </div>
    </div>
   
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">ADD</button>
        </div>
    </div>
 @if(Model.SucceedMsg.Length>0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.SucceedMsg</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label="Close"></button>
    </div>
}
</form>

    <div class="row mb-3"> 
        <div class="offset-sm-3 col-sm-3 d-grid">
              <a class=" btn btn-primary"  href="/admin">Go Back</a>
   
        </div>
     </div>